[Unit]
Description=codestep

[Service]
Type=simple
ExecStart=/var/codestep/codestep-server
WorkingDirectory=/var/codestep
User=codestep
TimeoutSec=30min
RestartSec=60

[Install]
WantedBy=multi-user.target